# Build Artifacts
packs/*
!packs/_source/
packs/_source/decks-fq8
packs/_source/decks-fq8-generated
# Assets
assets/*
!assets/.gitkeep

# IDE
.idea/
.nova/
.vs/
.vscode/
*.code-workspace
*.iml

# Node Modules
node_modules/

# Temporary
/coverage/

